.btn-primary {
    width: 100%;
}

.orders-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    justify-content: space-evenly;
}

.profile-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    justify-content: space-evenly;
}

#save {
    display: none;
}

.order.row p {
    text-align: center;
    justify-items: center;
}

#OrderBox {
    height: 250px;
    margin: 5px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.order.row {
    background: rgb(182, 180, 180);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}