body {
    background-color: darkgrey;
}

#MainPage {
    margin: 0;
    padding-left: 0;
}

.icon {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    /* Rundes Logo */
}

#content {
    margin-left: 5rem;
    margin-right: 5rem;
}

.content-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    justify-content: space-evenly;
}

.logo-container {
    /*CSS-*/
    width: 70px;
    /* Größe des Logos */
    height: 70px;
    /* Größe des Logos */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    /* Rundes Logo */
}

.sidebar {
    width: 5rem;
    background: #343a40;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}

.fa-2x {
    font-size: 3em;
}

.sidebar .nav-link {
    color: white;
    transition: 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background: #495057;
    border-radius: 5px;
}

.form-control:disabled {
    background-color: #e9ecef;
}